# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual envs
.venv/
venv/

# Node
node_modules/
dist/

# Env
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid

# Even Realities packages
*.ehpk